/* Documentation Overrides */
.grey {
  color: #6e6e6e; }

.icon-aau_logo {
  color: #ed1c2e;
  font-size: 2em; }

.icon-aau_logo_title {
  font-size: 2em; }

code {
  padding: 0px 4px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  color: #dd1144;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap; }

.row.example .columns {
  background: rgba(255, 255, 255, 0.7); }
  .row.example .columns .content {
    background: rgba(230, 230, 230, 0.3);
    border: 1px solid #e6e6e6; }

.navbar-inner {
  background-color: white; }

#ajax-container {
  max-width: 1000px;
  margin: auto;
  background-color: rgba(230, 230, 230, 0.3);
  width: 100%;
  min-height: 100px; }

table {
  border: 1px solid #cccccc; }
  table tbody > tr > td, table thead > tr > th {
    padding: 8px;
    border: 1px solid #cccccc; }

.table-scrollable {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  border: 1px solid #dddddd; }

@media only screen and (min-width: 768px) {
  .table-scrollable {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px none; } }
