//
// Global functions
// --------------------------------------------------
body{
	background-color: #fff;
}
// Grid Defaults to get images and embeds to work properly
img,
object,
embed { width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

p, ul li{
	font-family:"NewCaledoniaW01-Regular";
	a{
		text-decoration: underline;
		color:#892121
	}
}
.padded{
  padding:$spacing;
}
.padded-none{
  padding:0!important;
}
.marged{
  margin:$spacing;
}
.marged-none{
  padding:0!important;
}
.text-centered{
  text-align:center;
}
.text-right{
  text-align:right;
}
h2{
	font-family: "Splendid";
}
h3{
	font-family:"NewCaledoniaW01-Regular";
	font-size:0.75em;
}
h1{
	font-size:1.5em;
}
.bg-img{
	width:100%;
	min-height:100%;
	position:absolute;
	overflow:hidden;
	img{
		position:fixed;
		width:100%;
		min-width:1600px;
		margin-left:250px;
		bottom:0;
		right:0;
	}
}
.card-container{
	width:$maxWidth;
	margin:40px auto;
	z-index:1;
	background-color: #FFFFFF;
	.card{
		height:360px;
		border-top:solid 1px #eee;
		.column{
			background:url('../images/background.jpg') no-repeat center 20px;
			height:340px;
			.content{
				width:340px;
				margin:90px auto;
				h1{
					margin:1em 0;
				}
				.text-right{
					margin:4em 0 0;
					h2{
						margin:0;
					}
					h3{
						margin:0;
					}
				}
			}
		} 
	}
	img{
		margin:.5em 0;
	}
}
#map-canvas{
	width:$maxWidth;
	height:300px;
}
a{
	color:#323232;
	text-decoration: none;
	&:hover{
		color:#999999;
	}
}
ul.nav{
	@include clearfix();
	margin: 0;
	padding: 0;
	border-top:solid 1px #eee;
	li{
		margin:0;
		list-style: none;
		float:left;
		font-family:"TopHatItalic";
		color:#999999;
		a{
			display:block;
			padding:1em;
			color:#999999;
			text-decoration: none;
			&:hover{
				color:#545454;
			}
		}
		&:first-child{
			a{
				padding:1em 1em 1em 0;
			}
		}
		&.disabled{
			a{
				pointer-events:none;
				color:#e5e5e5;
				&:hover{
					color:#e5e5e5;
				}
			}
		}
		&.active{
			a{
				pointer-events:none;
				color:#535353;
				&:hover{
					color:#535353;
				}
			}
		}
	}
	iframe{
		width:100%;
	}
}

@media only screen and (max-width: $maxWidth) {

	h2{
		padding:0 1em;
		margin-top:20px;
	}
	.card-container{
		margin-top:0px;
		width:100%;
		.card{
			height:300px;
			.column{
				height:300px;
				background:url('../images/background-small.jpg') no-repeat center 20px;
				.content {
					width: 290px;
					margin: 60px auto;
					h1{
						font-size:1.2em;
					}
					.text-right {
						margin: 3em 0 0;
						h2{
							padding:0;
							margin-top:0px;
						}
					}
				}
			}
		}
	}
	ul.nav{
		li{
			a{
			}
			&:first-child{
				a{
					padding:1em;
				}
			}
		}
	}
	#map-canvas{
		width:100%;
		height:200px;
	}
	iframe{
		width:100%;
		height:200px;
	}
	p{
		padding:0 1em
	}
}
